<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Set exposure time</key>
	<dict>
		<key>var_names</key>
		<array>
			<string>t</string>
		</array>
		<key>description</key>
		<string>Set exposure time, t in microseconds</string>
		<key>key</key>
		<string>0x0151</string>
	</dict>
	<key>Set new pointing</key>
	<dict>
		<key>key</key>
		<string>0x0104</string>
		<key>description</key>
		<string>Set new solar target, x and y in arcseconds</string>
		<key>var_names</key>
		<array>
			<string>x</string>
			<string>y</string>
		</array>
	</dict>
	<key>Request PYAS RAW Image</key>
	<dict>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Ask for a full frame to be sent over TCP</string>
		<key>key</key>
		<string>0x1210</string>
	</dict>
	<key>Restart all Workers</key>
	<dict>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Kill and then restart all workers</string>
		<key>key</key>
		<string>0x0102</string>
	</dict>
	<key>Test</key>
	<dict>
		<key>var_names</key>
		<array/>
		<key>key</key>
		<string>0x1000</string>
		<key>description</key>
		<string>send a test command (does nothing)</string>
	</dict>
	<key>Kill all Workers</key>
	<dict>
		<key>var_names</key>
		<array/>
		<key>description</key>
		<string>Kill all worker thread (except command listening thread)</string>
		<key>key</key>
		<string>0x1010</string>
	</dict>
</dict>
</plist>
